In [48]:
num = 250

In [ ]:
if num > 200:
     print('The number is greather than 200')
else:
    print('The number is less than 200')

The number is less than 200

In [ ]:
num = 200

In [ ]:
if num > 200:
     print('The number is greather than 200')
elif num == 200:
    print('The number is exactly 200')
else:
    print('The number is less than 200')

The number is exactly 200

In [ ]:
ls = [1, 2, 3, 4, 5, 150, 200]

In [ ]:
1 in ls

True

In [ ]:
6 in ls

False

In [ ]:
6 not in ls

True

In [ ]:
if 'apple' in ls:
    print('the list has a string inside')
else:
    print('our list has not a string inside')

our list has not a string inside

In [ ]:
ls2 = [1, 3, 5, 7, 9]

In [ ]:
if '2' in ls2:
    print('Yes')
else: 
    print('No')

No

In [ ]:
num = 3

In [ ]:
if num > 5:
     print('The number is greather than 5')
elif num == 3:
    print('The number is exactly 3')
else:
    print('The number is less than 5')

The number is exactly 3

In [ ]:
ls

[1, 2, 3, 4, 5, 150, 200]

In [ ]:
ls.append(10)

In [ ]:
ls.extend([5, 9, 13, 11, 10])

In [ ]:
ls

[1, 2, 3, 4, 5, 150, 200, 10, 5, 9, 13, 11, 10]

In [ ]:
for el in ls:
    print(el)

1
2
3
4
5
150
200
10
5
9
13
11
10

In [ ]:
for i in range(1, 12):
    print(i)

1
2
3
4
5
6
7
8
9
10
11

In [ ]:
for i in range(12):
    i**=2 #i - i ** 2 i+=2 и так далее
    print(i)

0
1
4
9
16
25
36
49
64
81
100
121

In [ ]:
ls_squared = [i**2 for i in range(12)]

In [ ]:
ls_squared

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [ ]:
num = 5

In [ ]:
while num < 15:
    print(num)
    num+=1

5
6
7
8
9
10
11
12
13
14

In [ ]:
#1. declare for loop for numbers in range of your choice and multiply each number by 5
#2. declare list of length 10 and with while loop decrease it each time by 1 element

In [ ]:
ls3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for el in ls3:
    print(el)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for a in range(1, 10):
    a*=5
    print(a)

5
10
15
20
25
30
35
40
45

In [1]:
ls = 10

In [3]:
while ls > 1:
    print(ls)
    ls-=1

10
9
8
7
6
5
4
3
2